/* General Styles */
body {
  font-family: "Playwrite IT Moderna", serif;
  font-optical-sizing: auto;
  font-weight: 20;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: #cef0e1;
  color: #000000;
}


header {
  background-color: #000000;
  color: rgb(172, 213, 191);
  padding: 20px;
  text-align: center;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 15px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

section {
  padding: 40px;
  margin: 20px 0;
}

h1, h2 {
  font-family: "Playwrite IT Moderna", serif;
  font-optical-sizing: auto;
  text-align: center;
}

/* Home Section */
#home {
  font-family: "Playwrite IT Moderna", serif;
  font-optical-sizing: auto;
  background-color: #4CAF50;
  color: white;
}

#home a {
  font-family: "Playwrite IT Moderna", serif;
  font-optical-sizing: auto;
  display: block;
  text-align: center;
  margin-top: 20px;
  background-color: #333;
  color: white;
  padding: 10px;
  text-decoration: none;
}

/* Portfolio Section */
#portfolio {
  background-color: #fff;
}

.project {
  margin: 20px 0;
  text-align: center;
}

.project img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.project a {
  display: inline-block;
  margin-top: 10px;
  color: #333;
  text-decoration: none;
}

/* Contact Section */
#contact {
  background-color: #f1f1f1;
}

#contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact label {
  margin-top: 10px;
}

#contact input {
  padding: 10px;
  margin-top: 5px;
  width: 250px;
}

#contact button {
  margin-top: 10px;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

#contact button:hover {
  background-color: #555;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
}